description: A baseline experiment 
num_dirs: 5
num_clients: 10
save_data_location: /users/cwacek/data/
num_relays: 25
num_servers: 5
template_dir: /groups/SAFER/SAFEST/bin/templates/
tor_binary: /groups/SAFER/SAFEST/bin/tor-0.2.3.0-alpha-dev/src/or/tor
socks_address: "localhost:9050"
thinking_time: minmax(10,30)
file_sizes: minmax(300000,1000000)
use_tcp_app: 
    thinking_time: minmax(45,60)
    server_cmd: voip_emul -s 4500
    client_cmd: voip_emul -c ${TARGET} 4500 45
relay_config_options:
    - N23 0
    - adaptive_n3 0
    - N3_initial 100
    - VivUseMinimumInsteadOfMedian 0
    - NeighborPingInterval 3
    - VivUseHeight 0
    - VivMaxAllowedCoordErrIncrease 20
    - VivNumSamplesToForceWith 1
    - VivTimestep 0.25
    - NumPingMeasurements 1
    - CongestBloomMaxElements 0 
client_config_options:
    - NoBWWeight 0
    - MinLinkLatency 0
    - MaxCircuitLatency 1000
    - MaxCircuitDirtiness 180
    
